* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.mainHeader {
  width: 100%;
  /* height: 59vh; */

  background: #0ee1e1 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
  /* border: 5px solid black; */
}
.iconBoxMobile {
  display: none;
}

.iconWhatsapp {
  width: 5vw;
  height: 9vh;
  margin: 6vh 0 0 3vw;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
}
.iconWhatsapp > img {
  width: 3vw;
}

.headerText {
  width: 40vw;
  /* height: 59vh; */
  margin-left: 25vw;

  display: flex;
  flex-direction: column;

  /* justify-content: flex-end; */

  /* border: 5px solid black; */
}

.headerText > h1 {
  margin-top: 21vh;
  font: normal normal 900 4em Heebo;
  color: #000000;
}

.headerText > p {
  font: normal normal normal 1.25em Heebo;

  color: #000000;
}

.iconBox {
  margin: 17vh 0 0 9vh;
}

.mainCard {
  width: 100%;

  margin-top: 4vh;

  display: flex;
  flex-flow: nowrap;
  /* justify-content: space-evenly; */
  /* border: 5px solid black; */
}

.card {
  width: 24vw;
  height: 40vh;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  /* border: 5px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card > h1 {
  margin-top: 3vh;
  font: normal normal 900 2.5em Heebo;

  color: #0ee1e1;
}
.card > p {
  font: normal normal normal 0.9em Heebo;
  text-align: center;
  color: #000000;
  width: 10vw;
}

.card > img {
  width: 2vw;
}

.mainContactMap {
  /* width: 100%; */

  margin-top: 70px;
  display: flex;
  flex-direction: row;
}

.mainContact {
  width: 40%;
  height: 87vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContactForm {
  height: 57vh;
  width: 22vw;

  display: flex;
  flex-direction: column;
}

.mainContactForm > h1 {
  font: normal normal 900 2.8vh Heebo;
  letter-spacing: 0px;
  color: #090909;
}

.mainContactForm > p {
  font: normal normal normal 0.9em Heebo;
  letter-spacing: 0px;
  color: #000000;
  width: 100%;
}

.mainContactForm > label {
  font: normal normal bold 0.8em Heebo;

  color: #2c2c2c;
  margin-top: 2vh;
}

.mainContactForm > input {
  background: #e5eeff 0% 0% no-repeat padding-box;
  /* width: 100%; */
  height: 5vh;
}

.mainContactForm > textarea {
  background: #e5eeff 0% 0% no-repeat padding-box;
  height: 13vh;
}

.mainContactForm > button {
  margin-top: 23px;
  /* width: 427px; */
  height: 5vh;
  background: #0ee1e1 0% 0% no-repeat padding-box;
  font: normal normal bold 20px/28px Heebo;
  letter-spacing: 0.3px;
  color: #000000;
}

.mainMap {
  width: 60%;
  height: 87vh;

  background: #0ee1e1 0% 0% no-repeat padding-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
.mainMap > img {
  width: 50vw;
  height: 71vh;

  background: transparent url("img/Rectangle 522.png") 0% 0% no-repeat
    padding-box;
}

.mainFooterIcons {
  width: 100%;
  height: 9vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
}
.icon {
  width: 5vw;
  height: 9vh;
  margin-right: 2vw;
  background: #0ee1e1 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  /* border: 5px solid black; */
  display: flex;
  border-radius: 48px;
}
.icon > img {
  width: 1.5vw;

  margin: 0 auto;
}

.mainFooterLine {
  width: 100%;
  height: 2vh;

  background: #0ee1e1 0% 0% no-repeat padding-box;
}

/* @media (max-width: 1200px) { */
@media (max-width: 768px) {
  .mainHeader {
    /* width: 100%;
    
    background: #0ee1e1 0% 0% no-repeat padding-box;
    border: 5px solid black; */
    width: 100%;
    height: 391px;
    display: flex;
    flex-direction: column;
    
    /* border: 5px solid black; */
  }

  .iconWhatsapp {
    display: none;
  }
  .iconBoxMobile {
    display: block;
    margin-top: 20%;
    margin-left: 75%;
  }

  .iconBoxMobile > img {
    width: 79px;
    height: 65px;
  }

  .headerText {
    margin: 0;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    /* border: 5px solid black; */
  }

  .headerText > h1 {
    margin: 0;
    /* width: 283px; */
    /* height: 49px; */
    text-align: right;
    font: normal normal 900 2em Heebo;
    letter-spacing: 0px;
    color: #000000;
  }

  .headerText > p {
    margin: 0;
    /* width: 283px; */
    /* height: 88px; */
    text-align: right;
    font: normal normal normal 1em Heebo;
    letter-spacing: 0px;
    color: #000000;
  }
  .iconBox {
    display: none;
  }
}
