* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.mainHeader {
  width: 100%;
  height: 634px;

  background: #0ee1e1 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
  border: 5px solid black;
}

.iconWhatsapp {
  width: 95px;
  height: 95px;
  margin: 65px 0 0 65px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
}
.iconWhatsapp > img {
  width: 54px;
  /* height: 54px; */
}

.headerText {
  width: 787px;
  height: 634px;
  margin-left: 476px;

  display: flex;
  flex-direction: column;

  /* justify-content: flex-end; */

  border: 5px solid black;
}

.headerText > h1 {
  margin-top: 232px;
  font: normal normal 900 66px/97px Heebo;
  color: #000000;
}

.headerText > p {
  /* width: 787px; */
  font: normal normal normal 20px/29px Heebo;
  letter-spacing: 0px;
  color: #000000;
}

.iconBox {
  /* margin-left: 182px; */
  margin: 182px 0 0 182px;
}

.mainCard {
  width: 100%;
  height: 329px;
  margin-top: 46px;

  display: flex;
  flex-flow: nowrap;
  justify-content: space-evenly;
}

.card {
  width: 450px;
  height: 329px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card > h1 {
  margin-top: 30px;
  font: normal normal 900 30px/44px Heebo;
  letter-spacing: 0px;
  color: #0ee1e1;
}
.card > p {
  font: normal normal normal 15px/22px Heebo;
  letter-spacing: 0px;
  color: #000000;
  width: 293px;
}

.card > img {
  width: 33px;
}

.mainContactMap {
  /* width: 100%; */
  /* height: 939px ; */
  margin-top: 70px;
  display: flex;
  flex-direction: row;

  /* border: 5px solid black; */
}

.mainContact {
  width: 40%;
  height: 939px;
  /* margin-left: 185px; */
  /* height: 10px ; */
  /* background-color: beige; */
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContactForm {
  /* width: 40%;
  height: 939px; */
  height: 614px;
  width: 427px;
  /* margin-left: 30%; */
  /* height: 10px ; */
  /* background-color: beige; */
  border: 5px solid black;
  display: flex;
  flex-direction: column;
}

.mainContactForm > h1 {
  font: normal normal 900 46px/67px Heebo;
  letter-spacing: 0px;
  color: #090909;
}

.mainContactForm > p {
  font: normal normal normal 15px/22px Heebo;
  letter-spacing: 0px;
  color: #000000;
  width: 100%;
}

.mainContactForm > label {
  font: normal normal bold 13px/19px Heebo;
  letter-spacing: 0px;
  color: #2c2c2c;
  margin-top: 23px;
}

.mainContactForm > input {
  background: #e5eeff 0% 0% no-repeat padding-box;
  /* width: 100%; */
  height: 51px;
}

.mainContactForm > textarea {
  background: #e5eeff 0% 0% no-repeat padding-box;
  height: 145px;
}

.mainContactForm > button {
  margin-top: 23px;
  /* width: 427px; */
  height: 51px;
  background: #0ee1e1 0% 0% no-repeat padding-box;
  font: normal normal bold 20px/28px Heebo;
  letter-spacing: 0.3px;
  color: #000000;
}

.mainMap {
  width: 60%;
  height: 939px;

  background: #0ee1e1 0% 0% no-repeat padding-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
.mainMap > img 
{
  width: 943px;
  height: 768px;

  background: transparent url("img/Rectangle 522.png") 0% 0% no-repeat
    padding-box;
  border: 5px solid black;
}

.mainFooterIcons {
  width: 100%;
  height: 95px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  /* background-color: lightcoral; */
  /* border: 5px solid black; */
}
.icon {
  width: 95px;
  height: 95px;
  margin-right: 37px;
  background: #0ee1e1 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 5px solid black;
  display: flex;
  border-radius: 48px;
}
.icon > img {
  width: 30px;

  margin: 0 auto;

  /* height: 36px; */
}

.mainFooterLine {
  width: 100%;
  height: 19px;

  background: #0ee1e1 0% 0% no-repeat padding-box;
}

/* @media (max-width: 1200px) { */
@media (max-width: 768px) {
}
