:root {
  --circle-width: 25px;
  --circle-hight: 25px;
  --optional-w: 10px;
  --optional-h: 10px;
  --cell-width: 70px;
  --cell-hight: 70px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stoneWhite, .stoneBlack {
  width: var(--circle-width);
  height: var(--circle-hight);

  border-radius: 50%;
  border: 2px solid black;
  /* transform: scale(2);
  transition: transform 1s ease-in-out; */
  /* transition-duration: .5s; */
}

.stoneWhite {
  /* stone */

  background-color: white;
}
/* .stoneOptional:hover {
  transform: scale(2);
}
.stoneWhite:hover {
  transform: scale(2);
} */

.stoneBlack {
  /* stone */

  background-color: black;
}

.stoneOptional {
  /* stone */
  /* width: var(--circle-width);
  height: var(--circle-hight); */
  width: var(--optional-w);
  height: var(--optional-h);
  background-color: greenyellow;

  border-radius: 50%;
  border: 3px solid #612525;
  transform: scale(2);
  transition: transform 1s ease-in-out;
}

table {
  border-collapse: collapse; /* Removes space between cells */
}

.cellR {
  border: 2px solid black;
  width: var(--cell-width);
  height: var(--cell-hight);
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* 
    text-align: center;
    vertical-align: middle; */
}
.tableReversi {
  /* position: absolute; */

  background-color: rgba(255, 255, 255, 0.5); /*Adjust the color and opacity*/
}
.divTable {
  background-image: url("./../images/background1.jpg");

  background-size: cover;

  padding: var(--cell-width);
}

.board {
  display: flex;
  justify-content: center;
}
.full-screen {
  display: flex;
  /* justify-content: center; */
  /* align-content: center; */
  align-items: center;
  flex-direction: column;
}

.centerCircle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customCol {
  border: 1px solid grey;
  padding: 5px;
}

.score-board{
  /* width: 200px; */
  /* height: 100px; */
  background-color: burlywood;
  background-image: linear-gradient(to right, #e7c395, #aca7a0);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.board-pieces{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.board-pieces-p{
  margin-right: 10%;
  font-size: 1.5rem;
}
.board-pieces-i{
  /* height: 80%; */
  margin-top: 2%;
  margin-bottom: 2%;
}


.score-board-result{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2%;

}

.score-board-computer-digit, .score-board-player-digit{
font-size: 3rem;
display: flex;
flex-direction: row;
  justify-content: center;
  align-items: center;
}
.restart{
  font-size: 2rem;
}
/* 
.overlay {
  

  opacity: 80%;
  background-color: lightblue;
  content-visibility:hidden;
  text-align: center;
}
.overlay > span{
  font-size: 3rem;
  font-weight: bolder;
  
}

#containerID{
  position: absolute;
  top: 30%;
  left: 25%;
  background-color: lightblue;
  border: 2px solid black; 
} */



.custom-alert {
  display: none; /* Hidden by default */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: lightgrey; /* Red */
  color: black;
  border-radius: 5px;
  
  
}
#paId{
  font-size:4rem  ;
  font-weight: bolder;
}

.custom-alert .closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  
  cursor: pointer;
}