
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  body{

    
    background: transparent linear-gradient(180deg, #281EFF 0%, #2DFF8C 100%) 0% 0% no-repeat padding-box;
   
    width: 100vw;
    height: 100vh; 
  }
