* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: transparent linear-gradient(180deg, #281eff 0%, #2dff8c 100%) 0%
    0% no-repeat padding-box;

  width: 100vw;
  height: 100vh;
}
h1 {
  font: normal normal normal 160px/231px Satisfy;
  letter-spacing: 0px;
  color: #ffffff;
  text-shadow: 0px 0px 36px #00000087;
}
h2 {
  font: normal normal normal 32px/38px Varela Round;
  letter-spacing: 0px;
  color: #ffffff;
}

p {
  font: normal normal normal 16px/20px Varela Round;
  letter-spacing: 0px;
  color: #f9f9f9;
}
label {
  font: normal normal normal 16px/20px Varela Round;
  letter-spacing: 0px;
  color: #f9f9f9;
}

button {
  font: normal normal normal 16px/20px Varela Round;
  letter-spacing: 0px;
  color: #1c1c1c;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formDiv {
  display: grid;
  grid-template-columns:  4fr .5fr .5fr .5fr 4fr;
  /* grid-template-rows: auto auto; */
  /* gap: 20px; */
  /* direction: rtl; */

  /* flex-direction: row;
    justify-content: center;
    align-items: center; */
}

.nameLa {
  /* grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2; */
  grid-column: 4;
  grid-row: 1;
  direction: rtl;
  width: 20vw;
}
.nameIn {
  /* grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3; */
  grid-column: 4;
  grid-row: 2;
  width: 20vw;
  direction: rtl;
}
.mailLa {
  /* grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2; */
  grid-column: 3;
  grid-row: 1;
  width: 20vw;
  direction: rtl;
}
.mailIn {
  /* grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3; */
  grid-column: 3;
  grid-row: 2;
  width: 20vw;
  direction: rtl;
}
.buttonP {
  /* grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3; */
  grid-column: 2;
  grid-row: 2;
  direction: rtl;
  width: 10vw;
}
